<!doctype html>
<html>

<head>

  <title>Whiteboard</title>
  <link type='text/css' rel='stylesheet' href='/stylesheets/main.css' />
  <link type='text/css' rel='stylesheet' href='/stylesheets/draw.css' />
  <link type='text/css' rel='stylesheet' href='/stylesheets/chat.css' />
  <meta name="viewport" content="width=device-width, user-scalable=no" />
</head>

<body>
  <div id="app">
    <div id='container'>
      <div id='draw-container' ontouchmove="return false;">
        <canvas ref="mainCanvas" touch-action="none" @pointerdown="onPointerDown" @pointermove="onPointerMove" @pointerup="onPointerUp"
          @touchend.prevent="onPointerUp" id='whiteboard' width='2000' height='2000'></canvas>
      </div>
    </div>
    <div style="position: absolute;">
      <div :style="{'background': selectedColor}" class="palette" @touchend.prevent></div>
      <div class="ui" touch-action="none" @touchstart="zoom(1.5)" @pointerdown="zoom(1.5)" @touchend.prevent>拡大</div>
      <div class="ui" touch-action="none" @touchstart="zoom(1/1.5)" @pointerdown="zoom(1/1.5)" @touchend.prevent>縮小</div>
      <div class="ui" touch-action="none" @touchstart="move(100, 0)" @pointerdown="move(100, 0)" @touchend.prevent>←</div>
      <div class="ui" touch-action="none" @touchstart="move(0, 100)" @pointerdown="move(0, 100)" @touchend.prevent>↑</div>
      <div class="ui" touch-action="none" @touchstart="move(0, -100)" @pointerdown="move(0, -100)" @touchend.prevent>↓</div>
      <div class="ui" touch-action="none" @touchstart="move(-100, 0)" @pointerdown="move(-100, 0)" @touchend.prevent>→</div>
      <div class="ui" touch-action="none" @touchstart="reset()" @pointerdown="reset()" @touchend.prevent>原寸</div>
      <div class="ui" touch-action="none" @touchstart="clearCanvas()" @pointerdown="clearCanvas()" @touchend.prevent>キャンバス消去</div>
      <div style="color: #333;">
        {{count}} users
      </div>
      <div>
        <div v-for="p in palette" :style="{'background': p}" class="palette" @touchstart="selectColor(p)" @pointerdown="selectColor(p)"
          @touchend.prevent></div>
      </div>
    </div>

    <svg v-for="(message, idx) in messagesLast" :key="message._id" viewBox="0 0 300 150" width="150" height="75" touch-action="none"
      style="position: absolute; right: 0; background: rgba(255,255,255,0.5); border: 1px solid #CCC; border-radius: 4px;"
      :style="{'bottom': idx * 80 + 150 + 'px'}" @touchend.prevent>
      <polyline v-for="line in message.text.split('\n')" :points="line" stroke="black" stroke-width="2px" fill="none" />
    </svg>

    <svg width="300" height="150" touch-action="none" style="position: absolute; right: 0; bottom: 0; border: 1px solid #333; background: white;"
      @pointerdown="chatDown" @pointermove="chatMove" @pointerup="chatUp" @touchend.prevent="chatUp">
      <polyline :points="pointsString" stroke="black" stroke-width="2px" fill="none" />
      <polyline v-for="line in lines" :points="lineToString(line)" stroke="black" stroke-width="2px" fill="none" />
    </svg>
    <button @click="sendChat" style="position: absolute; right: 0; bottom: 0;">Send</button>
  </div>




  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js'></script>
  <script src='/javascripts/client.js'></script>

</body>

</html>