<!DOCTYPE html>
<html>
  <head>
    <title>Whiteboard</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/draw.css" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
  </head>

  <body>
    <div id="app">
      <div id="container">
        <div id="draw-container" ontouchmove="return false;">
          <canvas
            ref="mainCanvas"
            touch-action="none"
            @pointerdown="onPointerDown"
            @pointermove="onPointerMove"
            @pointerup="onPointerUp"
            @touchend.prevent="onPointerUp"
            id="whiteboard"
            width="2000"
            height="2000"
          ></canvas>
        </div>
      </div>
      <div style="position: absolute;" touch-action="none" class="menu">
        <div
          class="ui"
          touch-action="none"
          @pointerdown="zoom(1.5)"
          @touchend.prevent
        >
          拡大
        </div>
        <div
          class="ui"
          touch-action="none"
          @pointerdown="zoom(1/1.5)"
          @touchend.prevent
        >
          縮小
        </div>
        <div
          class="ui"
          touch-action="none"
          @pointerdown="move(100, 0)"
          @touchend.prevent
        >
          ←
        </div>
        <div
          class="ui"
          touch-action="none"
          @pointerdown="move(0, 100)"
          @touchend.prevent
        >
          ↑
        </div>
        <div
          class="ui"
          touch-action="none"
          @pointerdown="move(0, -100)"
          @touchend.prevent
        >
          ↓
        </div>
        <div
          class="ui"
          touch-action="none"
          @pointerdown="move(-100, 0)"
          @touchend.prevent
        >
          →
        </div>
        <div
          class="ui"
          touch-action="none"
          @pointerdown="reset()"
          @touchend.prevent
        >
          原寸
        </div>
        <div
          class="ui"
          touch-action="none"
          @pointerdown="clearCanvas()"
          @touchend.prevent
        >
          キャンバス消去
        </div>
        <div class="palettes" touch-action="none">
          <div
            :style="{'background': selectedColor}"
            class="palette"
            @touchend.prevent
          ></div>
          <div class="paletteWrapper">
            <div
              v-for="p in palette"
              :style="{'background': p}"
              class="palette"
              touch-action="none"
              @pointerdown="selectColor(p)"
              @touchend.prevent
            ></div>
          </div>
          <div class="penWidthWrapper" touch-action="none">
            <div
              v-for="penWidth in penWidthList"
              touch-action="none"
              @pointerdown="setPenWidth(penWidth)"
              @touchend.prevent
              class="penWidth"
              :class="{'penWidth--selected': penWidth === selectedWidth}"
            >
              <svg
                width="34"
                height="34"
                style="position: absolute; top: 0; left: 0"
              >
                <circle fill="#fff" cx="17" cy="17" :r="penWidth / 2"></circle>
                <text
                  x="17"
                  y="17"
                  text-anchor="middle"
                  dominant-baseline="central"
                  v-if="penWidth > 20"
                  font-weight="700"
                  fill="#666"
                >
                  {{ penWidth }}
                </text>
              </svg>
            </div>
          </div>
        </div>
        <div class="users">
          <span class="userCount">{{ count }}</span> users
        </div>
      </div>

      <chat-pane :messages="messages" @send="sendChat"></chat-pane>
    </div>

    <script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script type="module" src="/javascripts/client.js"></script>
  </body>
</html>
